@import 'variables';

.blogs-section {
  margin-top: 1rem;

  ol {
    li {
      a {
        color: $primary-color;
      }
    }
  }
}





@media(max-width: 576px) {
  .blog-card {
    flex-direction: column;
    height: auto;
  }

  .card .img-wrapper img {
    width: 100%;
    height: 160px
  }

  .blog-image-wrapper {
    width: 100%;
    height: 150px;
    margin-bottom: 0.5rem;
  }
}
