<div class="row page-heading blogs-section">
  <div class="container narrow-container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <nav aria-label="breadcrumb" class="mb-2">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house-door"></i> Home</a></li>
          </ol>
        </nav>
        <h1 class="fw-bold fs-4 pt-2">Latest News and Blogs</h1>
      </div>
      <div class="col-md-4 d-flex justify-content-md-end mt-2 mt-md-0">
        <select class="form-select w-auto" [(ngModel)]="Selectedcategory"
          (ngModelChange)="GetBlogsCategoryWise(Selectedcategory)">
          <option [value]="0">All</option>
          <option *ngFor="let cat of blogsCategoryInterface" [value]="cat.autoId">{{ cat.categoryName }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="blogs-list-section py-4">
  <div class="container narrow-container">
    <ng-container *ngIf="!IsLoaded">
      <div class="mb-4" *ngFor="let skeleton of skeletonArray">
        <app-skeletonloader></app-skeletonloader>
      </div>
    </ng-container>
    <ng-container *ngIf="IsLoaded && paginatedBlogs.length > 0">
      <div *ngFor="let blog of paginatedBlogs" class="card shadow-sm rounded border mt-3 cursor-pointer"
        (click)="GoToBlogsPage(blog.blogURL)">
        <div class="row g-0">
          <div class="col-md-4 position-relative">
            <img [src]="blog.imagesPath || 'assets/default-blog.png'" class="img-fluid rounded-start"
              alt="{{blog.title}}" style="object-position: center;
    width: 376px;
    height: 164px;
    object-fit: cover;">
          </div>
          <div class="col-md-8 p-3">
            <small class="text-muted">{{ blog.createdOn | date:'MMM d, y' }}</small>
            <h5 class="fw-bold mt-1">{{ (blog.title | slice:0:100) + (blog.title.length > 100 ? '...' : '') }}</h5>
            <p class="text-secondary mb-2">{{ blog.categoryName }}</p>
            <div style="display: flex; flex-wrap: nowrap;">
              <p class="small text-truncate text-muted flex-wrap" style="font-size: 16px;"
                [innerHTML]="(blog.description   | stripHtml | slice:0:90) + (blog.description.length > 100 ? '...' : '')">
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="card shadow-sm rounded border mt-3 d-flex justify-content-center align-items-center"
      style="height: 200px;" *ngIf="IsLoaded && paginatedBlogs.length === 0">
      <div class="text-center text-muted">
        <h5>Not Found</h5>
      </div>
    </div>

    <div class="row align-items-center custom-pagination-row mt-5" *ngIf="IsLoaded && totalPages > 0">
      <div class="col-4">
        <!-- Previous Button -->
        <ul class="pagination custom-pagination mb-0 w-100 justify-content-start">
          <li class="page-item" [class.disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">
            <a class="page-link" href="javascript:void(0)">
              <i class="bi bi-chevron-left"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-4">
        <!-- Center Page Numbers -->
        <ul class="pagination custom-pagination mb-0 w-100 justify-content-center">
          <li class="page-item" *ngFor="let page of displayPages" [class.active]="page === currentPage"
            (click)="onPageChange(page)">
            <a class="page-link" href="javascript:void(0)">{{ page }}</a>
          </li>
        </ul>
      </div>

      <div class="col-4">
        <!-- Next Button -->
        <ul class="pagination custom-pagination mb-0 w-100 justify-content-end">
          <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">
            <a class="page-link" href="javascript:void(0)">
              <i class="bi bi-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
