.footer{
    background-color: #222222;
    margin-top: 2rem;
    h5{
        font-weight: bold;
        font-size: 18px;
    }
    ul{
        li{
            font-size: 14px;
            margin-top: 10px;
        }
    }
}
.dark-footer{
    background-color: #111111;
}