<div class="row featured-developers">
  <div class="container narrow-container">
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="main-heading">
          <h2>Leading Developers</h2>
          <p> <a routerLink="developers" style="color: #c7a548;">Meet the developers</a> who are recognized for their
            quality and trust in their delivery. These developers define excellence in real estate. Our collaboration
            with top developers ensures the best design and secure delivery. These property developers have not only
            transformed the city’s landscape but have also raised the standard for luxury living, commercial
            developments, and sustainable building designs and construction.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <ng-container *ngIf="IsLoaded">
        <div class="col-md-4 mb-4" *ngFor="let skeleton of skeletonArray">
          <app-skeletonloader></app-skeletonloader>
        </div>
      </ng-container>
      <div class="row properties-carousel splide" id="featured-developers-carousal">
        <div class="splide__track">
          <ul class="splide__list">
            @for (item of activeDeveloper; track $index) {
            <li class="splide__slide" *ngIf="!IsLoaded && activeDeveloper.length > 0">
              <!-- Logo -->
              <div class="img-wrapper border text-center p-2">
                <img [src]="item.logoPath" class="standard-logo img-fluid">
              </div>

              <!-- Caption -->
              <div class="caption-wrapper">
                <div class="row align-items-center gy-2">
                  <!-- Text -->
                  <div class="col-12 col-md-9 text-center text-md-start">
                    <div class="property-type small text-muted">{{ item.developersUnits }} Projects</div>
                    <div class="developer-name fw-semibold">{{ item.developersName }}</div>
                  </div>

                  <!-- Button -->
                  <div class="col-12 col-md-3 text-center text-md-end">
                    <button class="btn btn-primary-color btn-sm w-100 w-md-auto"
                      [routerLink]="['/developer/',item.pageURL]">
                      <i class="bi bi-arrow-up-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
