@import 'variables';
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
  pointer-events: none; /* allows clicks to pass through */
}
.featured-developers{
    padding-top: 5rem;
    padding-bottom: 3rem;
    .properties-carousel{
        margin-top: 20px;
        .img-wrapper{
            position: relative;
            display: inline-block;
            width: 100%;
            max-width: 100%;
            // img{
            //     height: 140px;
            //     object-fit: cover;
            //     width: 100%;
            // }
        }
        .caption-wrapper{
            background-color: #ffffff;
            padding: 10px 20px;
            box-shadow: $box-shadow;
            .property-type{
                font-size: 14px;
                color: #666;
            }
            .developer-name{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    @media (max-width: 767.98px) {
        .splide__pagination{
            bottom: -1.5em !important;
            background-color: red;
        }
        padding-top: 2rem;
        padding-bottom: 2rem;
        .developer-name{
            display: none;
        }
    }
}