<div class="row testimonial">
  <div class="container narrow-container">


    <div class="row">
      <div class="col-md-12">
        <div class="pt-5">
          <h2><strong>Dubai Real Estate </strong></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="text-muted">
        Dubai is a global hub of luxury, innovation and growth. It is well recognized for its tax-free environment,
        world-class infrastructure and high rental returns. From family off-plan projects in popular areas like Dubai
        Creek Harbour to family-friendly villas in Arabian Ranches, there is everything that investors and buyers
        require in Dubai.
      </p>
      <p class="text-muted">
        Dubai’s real estate market is one of the most dynamic and fastest growing in the world. Residents enjoy
        world-class amenities, healthcare facilities, international schools and luxury lifestyle in Dubai. Whether you
        are looking for secure investment, high rental returns or a dream home, Dubai real estate continues to grow as a
        global hub for property ownership and wealth growth.
      </p>
      <p class="text-muted">
        Properties for sale in Dubai are straightforward and transparent. It is very important to first identify a
        suitable property and engage the services of a reputable real estate agent. We at AMCA Properties will help you
        with all the necessary paperwork, such as the Memorandum of Understanding (MOU) and the Sales and Purchase
        Agreement (SPA).
      </p>
      <p class="text-muted">
        Over the past few decades, Dubai has transformed itself into an architectural city, boasting iconic destinations
        such as Burj Khalifa, Palm Jumeriah, and Dubai Marina. The market is underpinned by investor-friendly
        regulations, government-backed initiatives and long-term residence programs that encourage global participation.
      </p>
    </div>





    <div class="row">
      <div class="col-md-12">
        <div class="pt-5">
          <h2><strong>AMCA Properties</strong></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="text-muted">
        AMCA Properties is a trusted choice for buyers, investors, and sellers. Recognized for
        their commitment to excellence and client success, AMCA Properties has earned a
        strong reputation for providing outstanding service through a team of experienced and
        professional real estate companies in Dubai.
      </p>
      <p class="text-muted">
        AMCA Properties has grown beyond traditional brokerage to meet diverse client needs.
        From residential and commercial properties to off-plan opportunities and property
        investment in UAE, investment projects, AMCA Properties offers expertise across
        multiple sectors, offering personalized, transparent, and results-driven solutions.
      </p>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="pt-2">
          <h2><strong>Our Property Categories</strong></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="text-muted">
        At AMCA Properties, we help to build every lifestyle and investment goal:
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="text-muted mb-4">
          <li>Be the first to invest in new off-plan properties with flexible payments with strong
            appreciation potential.</li>
          <li>Luxury homes in communities like Dubai Hills, Palm Jumeriah and Arabian
            Ranches offering luxury lifestyle and privacy.</li>
          <li>Townhouses are perfect for families who look for comfort, space and privacy.</li>
        </ul>

      </div>

    </div>





    <div class="row">
      <h4>FAQs</h4>
      <div class="accordion">
        <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
          <h2 class="accordion-header">
            <button class="accordion-button" [class.collapsed]="!faq.open" type="button" (click)="toggleFaq(i)">
              {{ faq.question }}
            </button>
          </h2>
          <div class="accordion-collapse" [class.collapse]="true" [class.show]="faq.open">
            <div class="accordion-body" [innerHTML]="faq.answer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
