<div class="row page-heading page-format">
  <div class="container narrow-container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <nav aria-label="breadcrumb" class="mb-2">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="/"><i class="bi bi-house-door"></i> Home</a>
            </li>
          </ol>
        </nav>
        <h1 class="fw-bold fs-4">Terms & conditions</h1>
      </div>
    </div>
  </div>
</div>
<div class="row blog-details-section py-4">
  <div class="container narrow-container">
    <div class="row">
      <div class="col-lg-12">
        <p><strong>Terms of Use</strong></p>
        <p class="text-muted">The terms of use detailed in this section apply only when using AMCA Properties Website.</p>
        <p class="text-muted">Single or additional conditions of use may apply in specific scenarios and in such cases are additional conditions indicated within this document.</p>
        
        <p><strong>Content on the AMCA Website</strong></p>
        <p class="text-muted">All the content that is available on AMCA Website is specified that it is owned or provided by the Owner or its licensors.</p>
        <p class="text-muted">The owner takes complete responsibility to ensure that the content on AMCA Properties violates no applicable legal provisions or third-party rights. However, it may not always be possible to achieve such a result.</p>
        <p class="text-muted">Users are kindly asked to soon report related complaints using the contact details provided below in this document.</p>
        
        <p><strong>Access to external resources</strong></p>
        <p class="text-muted">Through AMCA Properties, users may have access to external resources provided by third parties. Users accept that the Owner has no control over such resources and is therefore not responsible for their content and accessibility. </p>
        
        <p><strong>Acceptable use ……</strong></p>
        <p class="text-muted">AMCA Properties and the Service may only be used within the scope of what they are provided for, under these Terms and applicable law.</p>
        <p class="text-muted">Users are merely responsible for making sure that their use of the AMCA Properties and/or the Service violates any applicable law, regulations or third-party rights.</p>
        
        <p><strong>No Waiver</strong></p>
        <p class="text-muted">The Owner’s failure to declare any right or provision under these Terms shall not constitute a refusal of any such right or provision. No rejection shall be considered a further or continuing waiver of such term or any other term.</p>
        
        <p><strong>Service interruption</strong></p>
        <p class="text-muted">The Owner reserves the right to interrupt the Service for maintenance, system updates or any other changes to ensure the best possible service level.</p>
        <p class="text-muted">The Owner has the complete right to suspend or terminate the Service altogether within the limits of law. If the Service is terminated, the Owner will unite with users to allow them to withdraw Personal Data or information in agreement with applicable law.</p>
        
        <p><strong>Service reselling</strong></p>
        <p class="text-muted">Users are not allowed to duplicate, copy, reproduce, sell or exploit any part of the AMCA Properties and of its Service without the Owner’s prior written permission granted either directly or through a legal reselling program.</p>
        
        <p><strong>Intellectual property rights</strong></p>
        <p class="text-muted">Without damage to any more specific provision of these Terms, any intellectual property rights, such as copyrights, patent rights, trademark rights and design rights related to the AMCA Properties are the restricted property of the Owner or its licensors and are liable to the protection granted by applicable laws or international agreements relating to copyright.</p>
        
        <p><strong>Changes to these Terms</strong></p>
        <p class="text-muted">The Owner will have the complete right to modify or otherwise suspend these Terms at any time. In such cases, the Owner will suitably inform the user about the changes.</p>
        <p class="text-muted">The continued use of the AMCA Properties Service will mark the User’s acceptance of the revised Terms. If Users do not wish to accept the changes, they must stop using the Service. Failure to accept the revised Terms may allow either party to suspend the Agreement anytime.</p>
        
        <p><strong>Assignment of contract</strong></p>
        <p class="text-muted">The Owner reserves the right to transfer, assign or subcontract all rights or responsibilities under these Terms, taking the User’s authorized interests into account. </p>
        <p class="text-muted">Users may not assign or transfer their rights or obligations under these Terms in any way, without the written permission of the Owner.</p>
        
        <p><strong>Contacts</strong></p>
        <p class="text-muted">All communication associated with the use of the AMCA Properties must be sent to the contact information stated in this document.</p>
        
        <p><strong>Severability</strong></p>
        <p class="text-muted">Any Terms stated under applicable law can become invalid or inoperative. The invalidity of such provisions shall not affect the validity of the remaining provisions, which shall remain in full force and effect.</p>

      </div>
    </div>
  </div>
</div>
