<div class="row testimonial">
  <div class="container narrow-container">
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="main-heading pt-5">
          <h2>Success Stories</h2>
          <p>Our clients’ words here reflect the trust, transparency and satisfaction we provide for every property
            journey. From first time buyers to all time investors, our success stories inspire all people.</p>
        </div>
      </div>
    </div>
    <div class="row client-section pt-4 pb-5 splide" id="testimonials-carousal">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="d-flex align-items-center flex-md-row flex-column text-md-start text-center">
              <img src="images/avatar1.jpg" alt="AMCA Properties" class="rounded-circle img-fluid me-3"
                style="width: 60px; height: 60px;">
              <div>
                <h6 class="mb-0 fw-bold mt-2">Prateek Rao</h6>
              </div>
            </div>
            <div class="mt-3">
              <p class="mb-0 fst-italic d-flex align-items-center flex-md-row flex-column text-md-start text-center">
                I have had excellent experience working with AMCA Properties. Their team from the beginning were very
                professional, especially Ojaswita guided me through every step of the buying process with great
                experience. Thanks to their support because they have helped me explore multiple communities and find
                the perfect property that matches my lifestyle.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="d-flex align-items-center flex-md-row flex-column text-md-start text-center">
              <img src="images/avatar2.jpg" alt="AMCA Properties" class="rounded-circle img-fluid me-3"
                style="width: 60px; height: 60px;">
              <div>
                <h6 class="mb-0 fw-bold mt-2">Jessica Jenkins</h6>
              </div>
            </div>
            <div class="mt-3">
              <p class="mb-0 fst-italic d-flex align-items-center flex-md-row flex-column text-md-start text-center">
                A special thank you to Roshni at AMCA Properties for making our dream home in Dubai a reality. Without a
                doubt, AMCA Properties stands out as one of the best real estate brokerage companies in Dubai.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="d-flex align-items-center flex-md-row flex-column text-md-start text-center">
              <img src="images/avatar3.jpg" alt="AMCA Properties – best real estate company in UAE"
                class="rounded-circle img-fluid me-3" style="width: 60px; height: 60px;">
              <div>
                <h6 class="mb-0 fw-bold mt-2">Sasha</h6>
              </div>
            </div>
            <div class="mt-3">
              <p class="mb-0 fst-italic d-flex align-items-center flex-md-row flex-column text-md-start text-center">
                I would like to extend our heartfelt thanks to AMCA Properties for the exceptional service they provided
                throughout our property search in Dubai. The entire process was very smooth, I highly recommend AMCA
                Properties to anyone looking to invest in Dubai’s real estate market.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
