<div class="row page-heading developers-section">
  <div class="container narrow-container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <nav aria-label="breadcrumb" class="mb-2">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="/"><i class="bi bi-house-door"></i> Home</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="row blog-details-section py-4">
  <div class="container narrow-container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mb-3 text-center">Property developers in Dubai</h1>
        <p class="text-muted mb-4">
          Dubai’s real estate market is booming in 2025, marked by record-breaking sales, master planned communities and
          prestigious luxury launches attracting buyers from across the world. Whether you are an investor who is
          looking for high ROI or a family who is searching to buy a new home in Dubai, selecting the right developer is
          the most important step. With their innovative designs, high-class projects, and sustainable communities,
          these developers are structuring Dubai’s real estate market.
        </p>
        <p class="text-muted mb-4">
          The UAE’s dedication to economic modernization has led to the launch of some of the most demanding large-scale
          construction projects in the world. Its strategic geographic location bridge between the East and West,
          coupled with political stability and investment-friendly policies, has attracted investors from all over the
          world. From innovative skyscrapers to sustainable urban developments, these projects aim to redefine luxury
          living and commercial excellence.
        </p>
        <p class="text-muted mb-4">
          Dubai - the city of iconic architecture and bold dreams, remains loyal to its pursuit of innovation. A fresh
          wave of mega projects is set to transform the city's skyline, further consolidating its position as a global
          leader in luxury, technology, and sustainable growth.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row developers-list-section ">
  <div class="container narrow-container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="fw-bold fs-4">Azizi Developments</h2>
        <p class="text-muted mb-4">
          Azizi delivers modern, well-connected communities offering great value in the Dubai real estate market—perfect
          for investors seeking quality and affordability.
        </p>
      </div>



      <div class="col-lg-12  pt-4">
        <h2 class="fw-bold fs-4">Danube Properties</h2>
        <p class="text-muted mb-4">
          Danube is known for budget-friendly luxury and innovative payment plans, making property investment in Dubai
          accessible for all types of buyers.
        </p>
      </div>



      <div class="col-lg-12  pt-4">
        <h2 class="fw-bold fs-4">DAMAC Properties</h2>
        <p class="text-muted mb-4">
          DAMAC builds iconic luxury communities and branded residences, offering premium lifestyle options and strong
          returns in Dubai real estate.
        </p>
      </div>

      <div class="col-lg-12  pt-4">
        <h2 class="fw-bold fs-4">Arada</h2>
        <p class="text-muted mb-4">
          Arada develops sustainable, lifestyle-driven communities across the UAE, delivering long-term value and strong
          demand.
        </p>
      </div>



      <div class="col-lg-12  pt-4">
        <h2 class="fw-bold fs-4">Imtiaz Developments</h2>
        <p class="text-muted mb-4">
          Imtiaz offers contemporary residential projects with strong build quality and attractive pricing, making them
          ideal for investors entering the Dubai market.
        </p>
      </div>

      <div class="col-lg-12  pt-4 pb-4">
        <h2 class="fw-bold fs-4">Sobha Realty</h2>
        <p class="text-muted mb-3">
          Sobha is renowned for luxury craftsmanship, premium master-planned communities, and exceptional quality across
          Dubai’s high-end real estate sector.
        </p>


      </div>



      <!-- Developer Card -->
      <ng-container *ngIf="isLoading">
        <div class="col-md-3 mb-4" *ngFor="let skeleton of skeletonArray">
          <app-skeletonloader></app-skeletonloader>
        </div>
      </ng-container>

      <div class="col-md-3 mb-4 " *ngFor="let developer of activeDeveloper">
        <div class="card border-0 shadow-sm text-center card-hover" [routerLink]="['/developer/', developer.pageURL]"
          style="border-radius: 12px;" *ngIf="!isLoading && activeDeveloper.length >0">
          <img [src]="developer.logoPath" alt="{{ developer.developersName }}"
            class="card-img-top mx-auto mt-3 rounded border" style="width: 100px; height: 100px; object-fit: contain;">
          <div class="card-body">
            <h6 class="fw-bold mb-0 color-primary-w">{{ developer.developersName }}</h6>
            <!-- <div [innerHTML]="developer.description | slice:0:50"></div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-12 border-top pt-4">
        <p class="text-muted mb-3">
          At AMCA Properties, we help investors navigate the UAE real estate market with clarity and confidence. From
          top developers to high-ROI communities, we guide you toward the right opportunities tailored to your goals.
        </p>


      </div>
      <!-- FAQs -->
      <section class="container py-4">
        <div class="container narrow-container  mb-4">
          <h2>FAQs</h2>
          <div class="accordion">
            <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
              <h2 class="accordion-header">
                <button class="accordion-button" [class.collapsed]="!faq.open" type="button" (click)="toggleFaq(i)">
                  {{ faq.question }}
                </button>
              </h2>
              <div class="accordion-collapse" [class.collapse]="true" [class.show]="faq.open">
                <div class="accordion-body" [innerHTML]="faq.answer"></div>
              </div>
            </div>
          </div>
        </div>
      </section>





    </div>
  </div>
</div>
